/* .about .about-content{
    display: flex;
}
.about .about-content img{
    width: 20px;
    height: 30px;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --maincolor:#83b377;
    --secondcolor:#dbdf20;
    --thirdcolor:#d1db48;
    --textcolor:#2c2323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    font-family: "Inter", sans-serif;
}

.vm-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
    padding-bottom: 150px;
    text-align: center;
    background-color: #5dd6b2;
}

.vm-content .about-vm{
    padding: 10px;
    margin: 10px;
    background-color: #f0e8e8;
    border: 1px solid #d4bebe;
    width: 50%;
    box-shadow: 10px 10px 5px #d4bebe;
    border-radius: 25px;
    height: 100%;
}
.vm-content .about-vm h2{
    padding: 5px;
    color: var(--maincolor);
    text-align: center;   
    font-size: 3rem; 
}
.vm-content .about-vm p{
    padding: 10px;
    color: var(--textcolor);
    text-align: center;   
    font-size: 2.5rem; 
}

.doctors{
    padding: 20px;
    background-image: url(images/bg2.jpg);
    background-position: center;
    background-size: cover;
}
.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    padding-left: 200px;
    padding-Right: 200px;
    padding-bottom: 100px;
}

.doctors .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0 10px 10px var(--textcolor);
    border: 3px solid var(--maincolor);
    padding:2rem;
}

.doctors .box-container .box img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container .box h3{
    color:var(--textcolor);
    font-size: 2.5rem;
}

.doctors .box-container .box span{
    color:var(--maincolor);
    font-size: 1.5rem;
}

.doctors .box-container .box .share{
    padding-top: 2rem;
}

.doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--maincolor);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.doctors .box-container .box .share a:hover{
    background:var(rgb(6, 37, 6));
    color:#64e631;
    box-shadow: var(black);
}