@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --maincolor:#49c478;
    --secondcolor:#dbdf20;
    --thirdcolor:#d1db48;
    --textcolor:#5f5959;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    z-index: 1000;
    background-color: white;
}



.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
.navbar a{
    color: var(--textcolor);
    font-size: 1.7rem;
    margin: 1rem;
    position: relative;
    transition: 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--maincolor);
}

.navbar a::after{
    content: "";
    background-color: var(--maincolor);
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.3s;
}
.navbar a:hover::after{
    width: 100%;
}

#menu-bars{
    color: var(--textcolor);
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}

#menu-bars:hover{
    color: var(--maincolor);
}
.right-icons .btn{
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--textcolor);
    border: 0.2rem solid var(--maincolor);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;    
}
.right-icons .btn:hover{
    color: var(--maincolor);
}

/* header section ended */

/* Home section started */

.main-home{
    padding: 2rem 7%;
    background-image: url(images/blurbg1.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.

/* Home section ended */


@media (max-width:768px){

    html{
        font-size: 55%;
    }

    .right-icons{
        display: flex;
        align-items: center;
    }

    #menu-bars{
        display: block;
    }

    header{
        padding: 2rem;

    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        height: 100vh;
        width: 100%;
    }
    .navbar.active{
        left: 0;
    }
    .navbar a{
        display: block;
        margin: 2rem;
        padding: 1rem;
        border: 1px solid var(--textcolor);
    }
}